* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair", sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
}
:root {
    --alternate: #ffc37f;
    --primary: #c89360;
    --light: #fafff8;
    --dark: #404751;
}
.container {
    margin-left: 20px;
    margin-right: 20px;
}
.burger {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 64px;
    height: 64px;
    background: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(0 0 0 / 72%), rgb(0 0 0 / 72%)), url('../images/home.png');
    background-size:cover;
    background-position: center;
}
.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
 
.home__title {
    text-align: center;
    color: var(--alternate);
    font-style: italic;
    text-transform: uppercase;
    font-size: 38px;
}
.home__date {
    color: var(--light);
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
}
.circle-button {
    cursor: pointer;
    background: var(--primary);
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-button img {
    width: 24px;
    height: 24px;
}
.about {
    background: var(--light);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 23px;
}
.about__title {
    font-size: 32px;
    font-style: italic;
    color: var(--primary);
    font-weight: 800;
}
.about__description {
    font-size: 20px;
    color: var(--dark);
}
.about__authors {
    color: var(--primary);
    font-size: 20px;
    font-style: italic;
}
.about__button {
    text-decoration: none;
    font-size: 20px;
    background: var(--primary);
    color: var(--light);
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 12px 0;
    border-radius: 30px;
    font-weight: 300;
}
.contact {
    padding: 35px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
}
.contact__container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.contact__title {
    color: var(--light);
    font-size: 32px;
    font-weight: 800;
    font-style: italic;
}
.contact__data {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.contact-data__item {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
    color: var(--light);
}
.contact-data__item strong {
    font-size: 25px;
}
.contact-data__item span {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--light);
}
.socials {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.socials__item {
    background: var(--light);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form {
    border-radius: 30px;
    padding: 20px;
    width: 100%;
    background: var(--light);
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.label {
    display: block;
    font-weight: 600;
    font-style: italic;
    color: var(--dark);
    margin-bottom: 8px;
}
.contact-form__item input, .contact-form__item select {
    display: block;
    width: 100%;
    background: none;
    border: 1.5px solid var(--primary);
    color: var(--dark);
    border-radius: 30px;
    padding: 8px 16px;
}
.contact-form__item input::placeholder {
    color: var(--dark);
}
.contact-button {
    border: none;
    background: var(--primary);
    padding: 8px;
    border-radius: 30px;
    color: var(--light);
}
.footer {
    padding: 42px 0;
    text-align: center;
    background: var(--light);
}